<div class="container-fluid">
  <div class="row min-100vh">
     <div class="col-md-3 px-0">
      <div class="left-chat-bg">
        <div> 
         <h5 class="vehicle-search-heading">Vehicles List ({{totalVehicles}})</h5>
          
         <div class="position-relative">
         <i class="fa fa-search"></i>
         <input type="search" class="vehicle-serch-field" placeholder="Search Vehicle" (input)="filterVehicles($event)">
        </div>

        <!--Select box custom starts-->
        <div class="outer-filter">

            <select class="sort-dropdown">
              <option value="0">Sort</option>             
            </select>

            <span class="mx-2">Filter</span>

            <select class="sort-dropdown mr-2">
                <option value="0">Tags</option>                
            </select>

            <select class="sort-dropdown mt-3">
                <option value="0">More</option>               
            </select>
            

          </div>
        <!--Select box custom ends-->


        <div id="custscroll">
        <perfect-scrollbar style="max-width: 400px; max-height: 560px;">
            <ul *ngIf="vehicles?.length>0" class="chat-box">
                <li *ngFor="let vehicle of vehicles;let i = index" id="vehicle_{{i}}"  (click)="activateClass(vehicle,i)" [ngClass]="{'active': i==selectedIndex}">
                    <div class="user-image">
                    <img [src]="vehicle?.drivers[0]?.profile_pic ? vehicle?.drivers[0]?.profile_pic : 'assets/images/default-user.png'">
                    </div>
                    <div class="user-details">
                         <a (click)="redirectToDeviceLogs(vehicle)" >{{vehicle?.vehicle_no}}</a>
                         <span>{{vehicle?.drivers[0]?.first_name}}</span>
                    </div>
                </li>
                
             </ul>
             <ul *ngIf="vehicles.length<=0" class="chat-box">
                <li>                   
                    <p>No Record Found</p>
                </li>
                
             </ul>
        </perfect-scrollbar>
        </div>
        </div>

        </div>
     </div>
     <div class="col-md-9 px-0">
          
        
      
        <agm-map 
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="true"         
        [streetViewControl]="true"
        >      
        <agm-marker 
            *ngFor="let vechicle of vehicles; let i = index"
            
            [latitude]="vechicle?.deviceInfo?.latitude"
            [longitude]="vechicle?.deviceInfo?.longitude"
            [iconUrl]="(vechicle?.deviceInfo?.connectionStatus)?locatorIconActive:locatorIconInactive"
            (markerClick)="clickedMarker(infowindow)"
            >
            
          <agm-info-window [isOpen]="vechicle?.deviceInfo?.isOpen" #infowindow>
         
            <div class="user-map-info-outer">
              
              <div class="user-map-info-content">
                <strong><a routerLink="/home/device-logs/{{vechicle?.deviceInfo?.devices_NO}}">{{vechicle?.vehicle_no}}</a></strong>
                <p class="user-map-info-content-name">{{vechicle?.drivers[0]?.first_name}} {{vechicle?.drivers[0]?.last_name ? vechicle?.drivers[0].last_name : ''}}</p>
              </div>

              <div class="user-map-info-pic">
                
                <img [src]="vechicle?.drivers[0]?.profile_pic ? vechicle?.drivers[0]?.profile_pic : 'assets/images/default-user.png'">
              </div>

            </div>
          </agm-info-window>
          
        </agm-marker>          
      
      </agm-map>

    </div>
  </div>
</div>