<div class="container-fluid">
        <div class="row">
           <div class="col-md-3">
              <div class="left-second-box-outer"> 
                  <div class="row">
                      <div class="col-md-6">
                        <button (click)="goBack()" class="btn-primary-back">
                            <i class="fa fa-angle-left"></i>
                            Back
                        </button>
                      </div>
                      
                </div>
                <app-device-info-leftside  [vehicle]="vehicle"></app-device-info-leftside>
             </div>
           </div>

           <div class="col-md-9 px-0">
          
                  

      <agm-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="true"
      [streetViewControl]="true"
      >      
        <agm-marker 
            *ngFor="let vehicle of vehicles; let i = index"
            [latitude]="vehicle?.deviceInfo?.latitude"
            [longitude]="vehicle?.deviceInfo?.longitude"
            [iconUrl]="(vehicle?.deviceInfo?.connectionStatus)?locatorIconActive:locatorIconInactive"
            (markerClick)="clickedMarker(infowindow)"
            >
            
          <agm-info-window #infowindow>
            <div class="user-map-info-outer">
              
              <div class="user-map-info-content">
                        <strong><a href="javascript:void(0)" (click)="clickedInfoWindow(vehicle.deviceInfo)">{{vehicle?.deviceInfo?.devices_NO}}</a></strong>
                <p class="user-map-info-content-name">{{vehicle?.drivers[0]?.first_name ? vehicle?.drivers[0].first_name : ''}}</p>
              </div>

              <div class="user-map-info-pic">
                <img [src]="vehicle?.drivers[0]?.profile_pic ? vehicle?.drivers[0].profile_pic :'assets/images/user-pic.jpg'">
              </div>

            </div>
          </agm-info-window>
          
        </agm-marker>          
      
      </agm-map>
                  
              </div>
        </div>
      </div>