<div class="container-fluid">
        <div class="row">
           <div class="col-md-3">
              <div class="left-second-box-outer"> 
                  <div class="row">
                      <div class="col-md-6">
                        <button (click)="goBack()" class="btn-primary-back">
                            <i class="fa fa-angle-left"></i>
                            Back
                        </button>
                      </div>
                      
                </div>
                <app-device-info-leftside  [deviceId]="deviceId"></app-device-info-leftside>
             </div>
           </div>

           <div class="col-md-9 px-0">
          
                  

      <agm-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="true"
      [streetViewControl]="true"
      >      
        <agm-marker 
            *ngFor="let deviceMarker of deviceMarkers; let i = index"
            
            [latitude]="deviceMarker.latitude"
            [longitude]="deviceMarker.longitude"
            [iconUrl]="(deviceMarker.connectionStatus)?locatorIconActive:locatorIconInactive"
            (markerClick)="clickedMarker(infowindow)"
            >
            
          <agm-info-window #infowindow>
            <div class="user-map-info-outer">
              
              <div class="user-map-info-content">
                        <strong><a href="javascript:void(0)" (click)="clickedInfoWindow(deviceMarker)">{{deviceMarker.devices_NO}}</a></strong>
                <p class="user-map-info-content-name">Paul</p>
              </div>

              <div class="user-map-info-pic">
                <img src="assets/images/user-pic.jpg">
              </div>

            </div>
          </agm-info-window>
          
        </agm-marker>          
      
      </agm-map>
                  
              </div>
        </div>
      </div>