

<div class="container-fluid">
   <div class="row">
      <div class="col-md-3">
         <app-device-info-leftside [deviceId]="deviceId"></app-device-info-leftside>
      </div>
      <div class="col-md-9 px-0">
       
         <div class="video-cum-outer"> 
            <div class="row mb-3">         
               <div class="col-md-12">
                  <div class="current-status-outer">
                     <p><span class="primary-color-theme font-weight-bold pl-0">Videos ({{videoListing.length}})</span><a href="{{downloadUrl}}" class="primary-color-theme" download><i class="fa fa-download" aria-hidden="true"></i></a></p> 
                  </div>
               </div>
            </div>
            
            <div class="row position-relative"> 
               <div class="col-md-12">
                  <div class="video-padding">
                     <div class="row pr-md-4">                       
                        <div class="col-md-8 mx-auto" *ngFor="let video of videoListing">
                           <div class="plk-video-outer" >
                              <div class="plk-videobox"> 
                                 <video  class="video-layer-plk"  controls>
                                    <source [src]="video" type="video/webm">
                                    <source [src]="video" type="video/mp4">
                                    Your browser does not support the video tag.
                                 </video>
                              </div>                               
                           </div>
                        </div>
                     </div>                   
                  </div>
               </div>
            </div>
         </div>
    
      </div>
   </div>
</div>
